/* style.css */

/* General styles */
body {
    background: linear-gradient(to right, #00d2ff, #3a7bd5);
    font-family: 'Arial', sans-serif;
}

h2{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.card {
    border-radius: 10px;
    border: none;
    margin-bottom: 20px;
}

#dropZone {
    background-color: #e9ecef;
    border-style: dashed;
    border-width: 2px;
    border-color: #007bff;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.2s ease, color 0.2s ease;
    margin-bottom: 20px;
}

#dropZone.bg-primary {
    background-color: #007bff !important;
    color: #fff !important;
}

#dropZone:hover {
    background-color: #007bff;
    color: white;
}

input[type="file"] {
    display: none;
}

/* Progress Bar styles */
.progress-container {
    width: 80%;
    margin: 20px auto;
}

progress {
    width: 100%;
    height: 20px;
}

.loading {
    position: fixed;
    z-index: 999;
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dots-container {
    display: flex;
    justify-content: space-between;
    width: 60px;
}

.dot {
    width: 15px;
    height: 15px;
    background: #007bff;
    border-radius: 50%;
    animation: dotFlashing 1s infinite linear alternate;
}

.dot:nth-child(2) {
    animation-delay: 0.5s;
}

.dot:nth-child(3) {
    animation-delay: 1s;
}

@keyframes dotFlashing {
    0% {
        opacity: 1;
    }
    50%,
    100% {
        opacity: 0.3;
    }
}


.form-group label {
    font-weight: 600;
    color: #495057;
}

.form-group input {
    border-radius: 5px;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

#fileInfoContainer {
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

#fileInfoContainer h3 {
    font-weight: 600;
    color: #343a40;
}

.result-table {
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    padding: 12px;
    text-align: center;
    border: 1px solid #e6dede;
}

table thead {
    background-color: #007bff;
    color: #fff;
}

table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

table tbody {
    background-color:#fff ;
}



.img-thumbnail {
    width: auto;
    height: 100px;
    display: block;
    margin: 10px 0;
    max-width: 100%;
    height: auto;
}

#previewContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    overflow-x: auto;
    white-space: nowrap;
}

#previewContainer img {
    flex: 0 0 auto;
    max-height: 200px;
    margin-right: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.compress-button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.compress-button:hover {
    background-color: #0056b3;
}

.result-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 15px;
}

.result-grid img {
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Responsive Styles */
@media (max-width: 768px) {
    .container {
        max-width: 100%;
        padding: 10px;
    }

    .form-group input {
        padding: 8px;
    }

    table th, table td {
        padding: 8px;
    }

    .compress-button {
        padding: 8px 16px;
        font-size: 14px;
    }
}

@media (max-width: 576px) {
    .form-group input {
        padding: 6px;
    }

    table th, table td {
        padding: 6px;
    }

    .compress-button {
        padding: 6px 12px;
        font-size: 12px;
    }

    #previewContainer img {
        max-height: 150px;
    }
}
